
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes orbit-earth {
    0% {
        transform: translateX(-50%) rotate(0deg) translateY(100px);
    }
    100% {
        transform: translateX(-50%) rotate(360deg) translateY(100px);
    }
}
@keyframes orbit-venus {
    0% {
        transform: translateX(-50%) rotate(0deg) translateY(75px);
    }
    100% {
        transform: translateX(-50%) rotate(360deg) translateY(75px);
    }
}
